body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    padding: 5px; 
}

.logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

nav a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
    text-align: center;

}

nav a:hover{
    background-color: dodgerblue;
    color: white;
    transition: 0.5s;
    border-radius: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 200px;
    padding: 0;
}
  
li {
    float: left;
    width: 120px;
  }

.wwrd {
    padding-top: 40px;  
    width: 200px;
    height: 200px;
    vertical-align: middle;
}


.card2 {
     
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
  padding-top: 5px;
  
}


.card {
     
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin-top: 20px;
    padding-top: 30px;
    
  }


  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

.divClass1{
  
  
  border: 0.1rem outset pink;
  padding: 2px;
  display: inline-block;


}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.center {
  margin: auto;
  width: 60%;
/*  border: 3px solid #73AD21; */
  padding: 10px;
}

/*

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0;} 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
*/    